.header-container {
    background-image: linear-gradient(115deg,
            hsl(169deg 91% 58%) 0%,
            hsl(167deg 89% 67%) 11%,
            hsl(166deg 89% 74%) 22%,
            hsl(166deg 88% 79%) 33%,
            hsl(165deg 87% 83%) 44%,
            hsl(164deg 87% 87%) 56%,
            hsl(164deg 86% 91%) 67%,
            hsl(164deg 86% 94%) 78%,
            hsl(163deg 86% 97%) 89%,
            hsl(0deg 0% 100%) 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.login-select {
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid grey;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
}

.navlink-container {
    display: flex;
    gap: 10px;
    margin-left: auto;
    /* Aligns the buttons to the right */
}

.loginbtn,
.signupbtn {
    text-decoration: none;
    font-size: 16px;
    background-color: #32F5D1;
    color: black;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px, rgba(60, 64, 67, 0.15) 0px 2px 6px;
    transition: background-color 0.3s, color 0.3s;
}

.loginbtn:hover,
.signupbtn:hover {
    background-color: #0E4D44;
    color: white;
}

.user-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #008575;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.login-header-box img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Responsive styling */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .login-select {
        width: 80%;
        margin-bottom: 10px;
        /* Add space between select and buttons */
    }

    .navlink-container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        /* Reset left margin on smaller screens */
    }

    .loginbtn,
    .signupbtn {
        padding: 10px;
        font-size: 14px;
    }

    .user-container {
        margin-top: 10px;
        /* Add space between user container and other elements */
    }
}